src/main/mule/studio-to-jenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="de8016c9-6dc3-4d3a-ad3f-1e7448c77742" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="studio-to-jenkinsFlow" doc:id="8aa66181-b7a2-4db1-98a2-7242bc41b726" >
		<http:listener doc:name="Listener" doc:id="1c23a988-ea2d-43b1-9244-4ad439a885f4" config-ref="HTTP_Listener_config" path="/jenkins"/>
		<set-payload value="#['stuio-to-jenkins-beams']" doc:name="Set Payload" doc:id="79ca354c-7837-46a3-af78-cfef3feaf14f" />
	</flow>
</mule>
